<a href="https://colab.research.google.com/github/Harshini-Reddy-V/HR_700769272/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
class Counter:
    count = 0  # Class variable shared across all instances

    def __init__(self):
        self._count = 0  # Instance variable, unique to each object

    def increment(self):
        self._count += 1         # Increment instance-specific counter
        Counter.count += 1       # Increment shared class-level counter

    def get_counts(self):
        return f"Instance count: {self._count}, Class count: {Counter.count}"


# Create two Counter objects
a = Counter()
b = Counter()

# Call increment methods
a.increment()   # a._count = 1, Counter.count = 1
a.increment()   # a._count = 2, Counter.count = 2
b.increment()   # b._count = 1, Counter.count = 3

# Output the counts
print(a.get_counts())  # Expected: Instance count: 2, Class count: 3
print(b.get_counts())  # Expected: Instance count: 1, Class count: 3

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

In [10]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [11]:
def first_word(words):
    sorted_words = sorted(words)  # Sort the list alphabetically
    return sorted_words[0]        # Return the first element from the sorted list

# Example usage:
students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))  # Output: 'Bartholomew'

Bartholomew

In [8]:
class Employee:
    # Class variable to count the number of employees
    employee_count = 0
    total_salary = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        # Update class variables
        Employee.employee_count += 1
        Employee.total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count


# FulltimeEmployee inherits from Employee
class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)


# Creating instances of Employee and FulltimeEmployee
emp1 = Employee("Arjun", "Reddy", 100000, "Devlopment")
emp2 = FulltimeEmployee("Bhargav", "Verma", 70000, "Engineering")
emp3 = FulltimeEmployee("Sidharth", "Reddy", 80000, "Marketing")
emp4 = Employee("Harsh", "Vardhan", 100000, "Production")

# Output the total employee count
print("Total Employees:", Employee.employee_count)

# Output the average salary
print("Average Salary:", Employee.average_salary())

Total Employees: 4
Average Salary: 87500.0